

<table>
  <tr>
  <td>
    <form method="get" action="/quizes">
    <tr>
     <td>
     Tema:
      <select name="search_tema">
        <option value="" selected></option>
        <option value="geopolitica">Geopolitica</option>
        <option value="geografia">Geografia</option>
        <option value="humanidades">Humanidades</option>
        <option value="ocio">Ocio</option>
        <option value="ciencia">Ciencia</option>
        <option value="tecnologia">Tecnología</option>
        <option value="otro">Otro</option>
      </select>
      </td>
      <td>
      Pregunta: <input type="text" name="search_pregunta" value="" />
      </td>
      <td>
      <input type="submit" value="Buscar" />
      </td>
    </form>
  </td>
  </tr>

<% var i; for (i=0; i < quizes.length; i++ ){ %>
  <tr>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].tema %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
    <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
    <td>
      <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
        <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
          Borrar
        </button>
      </form>
    </td>
  </tr>
<% } %>
<tr>
<td>
</td>
<td>
  <a href="/quizes/new"><button type="button">Crear Pregunta</button></a>
</td>
</tr>
</table><p>
